player-connection-mode=Connect
player-connection-guid=3767630222
player-connection-debug=0
player-connection-project-name=Make A Sentence
player-connection-wait-timeout=-1
player-connection-ip=125.130.86.46
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7322810c9c354994961720f29b902567
